html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

:root {
    --rvv: calc(1rem + 1vh + 1vw);
    --shadow-offset: calc(0.1*var(--rvv));
    --red: #e60000;
    --yellow: #ffd014;
}

@font-face {
    font-family: 'Serreria Extravagante';
    src: url('./fonts/serreria/extravagante/serreria-extravagante.otf');
}

@font-face {
    font-family: 'Serreria Sobria';
    src: url('./fonts/serreria/sobria/serreria-sobria.otf');
}

@font-face {
    font-family: 'Neometrika';
    src: url('./fonts/neometrika/neometrika-bold.ttf');
}

@font-face {
    font-family: 'Rurik';
    src: url('./fonts/rurik/rurik.ttf');
}

@font-face {
    font-family: 'Mnemion';
    src: url('./fonts/mnemion/mnemion.ttf');
}

html {
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
}

        header,
        footer,
        body > div {
            border: 1px solid red;
        }

        .nav > div {
            border: 1px solid blue;
        }

body {
    margin: 0 clamp(30px, 15vw, 225px);
    display: flex;
    flex-direction: column;
    /* gap: calc(1.5*var(--rvv)); */
    align-items: center;
    background-image: url('./bg-full.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 0;
}

.bg-filter {
    backdrop-filter: contrast(1.05) saturate(5) sepia(60%) brightness(90%);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

body > * {
    z-index: 2;
}

header {
    padding: calc(0.5*var(--rvv)) 0;
    font-family: 'Rurik';
    font-size: calc(2*var(--rvv));
    font-weight: 900;
    text-shadow: calc(1.1*var(--shadow-offset)) var(--shadow-offset) var(--red);
    letter-spacing: calc(.5*var(--rvv));
    width: 100%;
    min-height: calc(2.5*var(--rvv));
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nav {
    font-family: 'Serreria Extravagante';
    font-size: calc(var(--rvv));
    color: var(--yellow);
    text-shadow: calc(0.8*var(--shadow-offset)) calc(0.8*var(--shadow-offset)) black;
    width: 100%;
    min-height: calc(1*var(--rvv));
    padding: calc(0.5*var(--rvv)) 0;
    display: flex;
    flex-wrap: wrap;
    gap: calc(2*var(--rvv));
    justify-content: center;
    align-items: center;
}

#content {
    display: flex;
    flex: auto;
    width: 100%;
    flex-direction: column;
    padding: calc(1.5*var(--rvv)) 0;
    align-items: center;
}

footer {
    min-height: calc(1.5*var(--rvv));
    width: 100%;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}